body {
  background-image: url("55.jpeg");
   background-repeat:no-repeat;
  background-size: cover;
}
.div1{
  float:left;
  border:5px solid black;
  padding:40px;
  font-size: 20px;
  background-color: rgb(214,202,202,0.5);
  margin-top: 200px;
  margin-left: 200px;

}
.div2{
  float:right;
  border:5px solid black;
  padding:40px;
  font-size: 20px;
  background-color: rgb(214,202,202,0.5);
  margin-top: 200px;
  margin-right: 200px;
}
